/* .container {
    padding-top: 30px;
    width: 300px;
    margin: auto;
    background-color: rgb(143, 143, 233);
  }
  
  .input {
    padding: 5px 15px;
    width: 300px;
  }
  
  .user-list {
    margin-top: 30px;
  }
  
  .user {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
  }
  
  .user-name {
    color: rgb(60, 60, 141);
    font-weight: 500;
  }
  
  .user-name:hover {
    color: rgb(16, 16, 17);
  }
  
  .h1 {
    font-weight: 300;
  } */